@page "/lotto-quick-pick"

<h3>Lotto Quick Pick</h3>

<p>This Blazor Component allows you to generate quick pick numbers for Lotto 6/49 or Lotto MAX.</p>

<fieldset>
    <p>Select lotto type:</p>
    <div>
        <input id="lotto649" name="lottoType" type="radio" />
        <label for="lotto649">Lotto 6-49</label>
    </div>
    <div>
        <input />
        <label>Lotto MAX</label>
    </div>
    <div>
        <button>Generate Quick Pick</button>
    </div>
</fieldset>

@code {

}